<html>
    <head>
        <title>Place Created</title>
    </head>
    <body>
        <h1>You added a place</h1>
        <p>{{ newplace.getCity }}</p>
        <p><a href="/">View your list of places visited.</a></p>
    </body>
</html>
