<!DOCTYPE html>

<html>
    <head>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <title>Places</title>
    </head>
    <body>
        <h1>Places you have been:</h1>

        <ul>
            {% for place in places %}
                <li>{{ place.getCity }}</li>
                <img src="{{ place.getImage }}">
            {% endfor %}
        </ul>

        <form action="/places" method="post">
            <label for="city">Enter the city you visited:</label>
            <input id="city" name="city" type="text">
            <br>
            <br>
            <label for="place_image">What did your place look like: Please add an url of the image.</label>
            <input id="place_image" name="place_image" type="url">
            <br>
            <br>
            <button type="submit" class="btn btn-success">Add your city!</button>


        </form>
        <br>
        <br>

        <form action="/places_deleted" method="post">
            <button type="submit" class="btn btn-danger">Delete all!</button>
        </form>
    </body>
</html>
